.about-me:hover{
    color: #f0f0f0;
    text-decoration:underline;
    margin-left: 10px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    flex-direction: column;
    margin: 20px;
}
